---
import { LOCATION, GENDER, PROFILE_IMAGE, DESCRIPTION, TITLE } from '../../content';
import ProfileTags from './ProfileTags.astro';
import ProfilePicture from './ProfilePicture.astro';
---

<div
    class="bg-white dark:bg-zinc-700 flex items-center flex-col text-center space-y-5 p-6 mx-6 max-w-xl border dark:border-zinc-600 rounded-3xl shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
>
    <ProfilePicture imageSrc={PROFILE_IMAGE} />
    <div class="flex flex-col space-y-4">
        <h1 class="text-[26px] font-bold dark:text-zinc-100">{TITLE}</h1>

        {DESCRIPTION !== '' && <p class="dark:text-zinc-100">{DESCRIPTION}</p>}
    </div>

    {
        (LOCATION !== '' || GENDER !== '') && (
            <ProfileTags location={LOCATION} gender={GENDER} />
        )
    }
</div>
